/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root
{
    --navbar-bg:#333;
    --layout-color:#f7c08a;
    --active-link:#444;
}
/*Main Styling*/
html,body
{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}
a{color:#333333;text-decoration: none}
h1,h2,h3{padding-bottom:20px;}
p{margin: 10px 0;}

.container
{
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}
.bg-dark
{
    background: #333333;
    color: white;
}
.bg-light {
    background: #f4f4f4;
    color: #333;
}
.clear
{
    clear: both;
}
/*Navbar*/
#nav
{
    background:#333;
    color: white;
    overflow: auto;
}
 #nav a
{
    color: white;
}
#nav h1
{
    float: left;
    padding-top: 20px;
}
#nav ul
{
    list-style: none;
    float: right;
}


#nav ul li
{
    float: left;
}
#nav ul li a
{
    display: block;
    padding: 20px;
    text-align: center;
}
#nav ul li a:hover,
#nav ul li a.current
{
    background: #444;
    color: var(--layout-color);
}
.showcase
{
    background: url("../images/showcase.jpg") no-repeat center center/cover;
    height: 600px;
}
.showcase-content {
    color: white;
    text-align: center;
    padding: 170px 0;

}
.showcase-content h1
{
    font-size: 60px;
    line-height: 1.2em;
}
.text-primary
{
    color: var(--layout-color);
}
.showcase-content p
{
    font-size: 20px;
    line-height: 1.7em;
    padding-bottom: 20px;
}
.showcase-content a
{
    display: inline-block;
    font-size: 18px;
    color: white;
    background:#333;
    padding: 13px 25px;
    border: none;
}
.showcase-content a:hover
{
    background: var(--layout-color);
    color: #333;
}
#home-info
{
    height: 400px;
}
#home-info .img-side
{
    width: 50%;
    float: left;
    background: url("../images/photo-1.jpg") no-repeat;
    min-height: 100%;
}
#home-info .content-side
{
    width: 50%;
    float: right;
     height: 100%;
     text-align: center;
     overflow: hidden;
    padding: 50px 30px;
    overflow: hidden;
}
#home-info .content-side p
{
    padding-bottom: 30px;
}
#home-info .content-side a
{
    display: inline-block;
    font-size: 18px;
    color: #333333;
    background:#fff;
    padding: 13px 20px;
    border: none;
}
#home-info .content-side a:hover {
    background: var(--layout-color);
    color: #333;
}
/*Features Section*/
.box
{
    width: 33.3%;
    float: left;
    text-align: center;
    padding:50px;
}
.box i
{
    font-size: 50px;
    padding-bottom: 10px;
}
.box p
{
    line-height: 1.7em;
    font-size: 17px;
}
.box:nth-last-of-type(2)
{
    background: var(--layout-color);
}
/*Footer*/
#main-footer
{
    background: #444444;
    color: white;
    text-align: center;
    padding: 20px;
}

/*About Page*/
#about
{
padding: 30px 0;
}
#about .about-info
{
    width: 50%;
    float: left;
    height: 100%;
}
#about .about-info h1
{
    font-size: 40px;
}

#about .about-img
{
    width: 50%;
    float: right;
}
#about .about-img img
{
    display: block;
    border-radius: 50%;
    width: 70%;
    margin: auto;
}

/*testimonials*/
#testimonials
{
    padding-top: 100px;
    height: 600px;
    background: url("../images/test-bg.jpg") no-repeat center center/cover;
}
#testimonials h2
{
    text-align: center;
    color: white;
    padding-bottom: 40px;
    font-size: 40px;
}
.testimonials
{
    background: var(--layout-color);
    opacity: 0.9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 40px;
}
.testimonials img
{
    width: 100px;
    float: left;
    border-radius: 50%;
    margin-right: 20px;

}
.testimonials p
{
    margin: 10px 0;
}

/*Contact PAge*/
#contact
{
    padding-top: 30px;
}
#contact h1
{
    font-size: 40px;
}
#form label
{
    display: block;
    margin-bottom: 5px;
}
#form .form-group
{
    margin-bottom: 20px;
}

#form input
{
    border: 1px solid #ccc;
    outline: 0;
    padding:10px;
    width: 100%;
}
#form input:focus
{
    border-color:var(--layout-color);
}
.form-group textarea
{
    border: 1px solid #ccc;
    outline: 0;
    width: 100%;
    height: 152px;
    padding: 10px;
}
.form-group textarea:focus
{
    border-color:var(--layout-color);
}
#form button
{
    border: 1px solid #333;
    color: white;
    background: #333;
    padding: 10px 20px;
    font-size: 18px;
}
#form button:hover
{
    background: var(--layout-color);
    border-color: var(--layout-color);
    color: #333333;
    cursor: pointer;
}